<h2 class='header'>Add a Game</h2>
<p class='flow-text'>This is for adding a game that has already been completed. To organize a new game, please use the slack channel.</p>

<%= form_tag '/games', method: :post do %>
  <h5 class='header'>Winning Team</h5>
  <div class='row'>
    <%= render partial: 'player_field', locals: { name: 'Winner 1' } %>
    <%= render partial: 'player_field', locals: { name: 'Winner 2' } %>
  </div>

  <h5 class='header'>Losing Team</h5>
  <div class='row'>
    <%= render partial: 'player_field', locals: { name: 'Loser 1' } %>
    <%= render partial: 'player_field', locals: { name: 'Loser 2' } %>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
  </button>
<% end %>

<%= content_for :javascript do %>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
<% end %>
